<mat-toolbar color="primary">
    <span><img src="/assets/images/logo.png" height=35 width=40></span>
    <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink='/menu' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button routerLink='/contactus' routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Mamontov Vitaliy's Angular Web Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestias enim perferendis alias ratione ducimus rem ipsum iure quas, eius, dolorum repellat tempore laudantium officia. Fugiat quasi incidunt explicabo laboriosam!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/logo.png" alt="Logo">
    </div>
    <div fxFlex></div>
</div>